rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Hamma o'qiy oladi
    match /{allPaths=**} {
      allow read: if true;
    }

    // Admin — products, categories, banners yozadi
    match /hadiya/products/{allPaths=**} {
      allow write: if request.auth != null
                   && request.auth.token.email != null;
    }
    match /hadiya/categories/{allPaths=**} {
      allow write: if request.auth != null
                   && request.auth.token.email != null;
    }
    match /hadiya/banners/{allPaths=**} {
      allow write: if request.auth != null
                   && request.auth.token.email != null;
    }

    // User — chek rasmini yuklaydi (auth shart emas)
    match /hadiya/receipts/{allPaths=**} {
      allow write: if true;
    }
  }
}
